doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' type='text/css')
  body
    div(style='height:100px;width:100%;background-color:rgba(23,48,64,1)')
        div(style='position:relative;top:50%;transform:translateY(-50%)')
            h2(id='headerText') hey, leave me a message!
  
    block content