extends layout

block content
  h1= title
  
  div(id='noteContainer' style='text-align:center;')
      each note, index in notes
        - var checkEven = function (val){return(val%2==0)}
        
        if checkEven(index)
            div(draggable='true' ondragstart='drag(this.id, event)' id=index title=note.message class='noteContainer dark')
                div(class='content')
                    a(href='/guestbook/notes/'+note.id)
                        h3(class='slightPad' style='display:inline-block;') #{note.title}
                    p(class='slightPad message') "#{note.message}"
                p(class='slightPad noteAuth') - #{note.author}
                form(method='post' id='removeNote'+index)
                    input(type='text' style='display:none' value=note.id name='id')
                    img(class='mobileRemove' src='../../images/x.png' onclick='deleteNote(this.id)' id="removeNote"+index style='position:absolute;top:5px;right:5px;height:25px;cursor:pointer;')
        else
            div(draggable='true' ondragstart='drag(this.id, event)' id=index title=note.message class='noteContainer light')
                div(class='content')
                    a(href='/guestbook/notes/'+note.id)
                        h3(class='slightPad' style='display:inline-block;') #{note.title}
                    p(class='slightPad message') "#{note.message}"
                p(class='slightPad noteAuth') - #{note.author}
                form(method='post' id='removeNote'+index)
                    input(type='text' style='display:none' value=note.id name='id')
                    img(class='mobileRemove' src='../../images/x.png' onclick='deleteNote(this.id)' id="removeNote"+index style='position:absolute;top:5px;right:5px;height:25px;cursor:pointer;')
                    
  div(id='trash' ondrop='drop(event)' ondragover='allowDrop(event)')
                    
  form(enctype='multipart/form-data' onsubmit='reload(e)' action='http://localhost:3000/guestbook/notes' id='postNote' method='post')                    
      input(name='title' placeholder='title' type='text' style='text-align:center;position:fixed;bottom:0;left:0;width:25%;height:45px;')
      input(name='author' placeholder='author' type='text' style='text-align:center;position:fixed;bottom:0;left:25%;width:25%;height:45px;')
      input(name='message' placeholder='message' type='text' style='text-align:center;position:fixed;bottom:0;left:50%;width:50%;height:45px;')
      input(style='position:fixed;right:0px;bottom:60px;' type='file', name='photo')
      input(type='submit' style='display:none')   
      
  div(style='height:55px;width:100%')
  
  script(src='https://code.jquery.com/jquery-2.1.3.min.js')
  
  script.
    function reload(e){
        e.preventDefault();
    }
    
    function deleteNote(noteID){
        $('#'+noteID).submit();
    }
    
    function allowDrop(ev) {
        ev.preventDefault();
    }
    
    function drag(id, ev){
        ev.dataTransfer.setData('text', ev.target.id);
    }
    
    function trashNote(droppedNote){
        setTimeout(function(){
        $(droppedNote).submit();
        }, 500);
    }
    
    function drop(ev){
        ev.preventDefault();
        var data = ev.dataTransfer.getData('text');
        var droppedNote = '#removeNote'+data;
        $('#'+data).fadeTo( 250 , 0, function() {
            trashNote(droppedNote);
        ev.target.appendChild(document.getElementById(data));
        
        fadeNote(data, droppedNote);
            // Animation complete.
        });
    }
    
    