*{
    margin:0;
    padding:0;
}

h1, h2, h3, h4{
    font-family: 'Montserrat Alternates', sans-serif;   
}

html{
    background:url('../images/clouds.png') 0 0 repeat;
    background-size:cover;
    background-attachment:fixed;
}

html, body {
    background-color:rgba(93,190,255,1);
    width:100%;
    height:100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#noteContainer{
    background:url('../images/clouds.png') 0 0 repeat;
    background-size:cover;
    background-attachment:fixed;
    min-height: 100%;
    height:100%;
    margin-bottom:150px;
}

a {
  color: #00B7FF;
}

.noteContainer{
    display:inline-table;
    width:24%;
    min-width:300px;
    margin:40px 10px;
    text-align:center;
    position:relative;
    border-style: inset;
    border-color:rgba(30, 51, 64, 1);
    border-width:2px;
    border-radius:4px;
}

#trash{
    background-image:url('../images/trash.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width:75px;
    height:75px;
    position:fixed;
    bottom:60px;
    left:15px;
}

.noteContainer:hover{
    width:27%;
    -webkit-box-shadow: 0px 10px 67px -9px rgba(35,83,125,1);
    -moz-box-shadow: 0px 10px 67px -9px rgba(35,83,125,1);
    box-shadow: 0px 10px 67px -9px rgba(35,83,125,1);
}

.dark{
    color:#ecf0f1;
    background-color:rgba(47, 95, 127,1.0);
    transition: 0.5s;
}
.dark:hover {
    color:rgba(47, 95, 127,1.0);
    background-color:rgba(255, 255, 255,0.7);
}

.light{
    color:#ecf0f1;
    background-color:rgba(59, 120, 161,1.0);
    transition: 0.5s;
}
.light:hover {
    color:rgba(47, 95, 127,1.0);
    background-color:rgba(255, 255, 255,0.7);
}

.content{
    margin:10%;
    text-align:left;
}

.slightPad{
    padding:2px 0;   
}

.noteAuth{
    position:absolute;
    right:15px;
    bottom:15px;
}

.message{
    text-indent: 10px;
}

.mobileRemove{
   
}

input{
    color:rgba(47, 95, 127,1.0);
    font-size:1em;
}

input[type='file'] {
    color: transparent;
    width:100px;
}

#headerText{
    padding:3%;
    color:white;
}

.vAligned{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}


@media only screen and (min-width:500px) { 
	.mobileRemove{
        display:none;   
    }
    #trash{
        display:block;   
    }
}
@media only screen and (max-width:500px) { 
	.mobileRemove{
        display:block;   
    }
    #trash{
        display:none;   
    }
}
